{% load static %}
<!-- Fixed navbar -->
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark mb-1">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                        {% if user.is_authenticated %}
                            <a class="nav-item nav-link dropdown-toggle mr-md-2 text-light" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    {{user.first_name}} ({{ user.get_username }})
                                </span>
                                <img class="img-profile rounded-circle" src="{% static 'img/asociados/root.png' %}" style="height:3rem; width:2rem">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <div class="dropdown-divider"></div>
                                
                                <a class="dropdown-item" href="{% url 'logout'%}?next={% url 'index' %}">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar Sesion
                                </a>
                            </div>
                        {% else %}
                            <form method='POST'>{% csrf_token %}
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
                            </form>
                        {% endif %}
                    </div>
                </nav>